@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bellota+Text:wght@300;700&display=swap');

html{
    height: 90%;
}

body{
    padding: 0;
    margin: 0;
    background-image: url('components/background.jpg');
    background-size: cover;
    height: 100%;
}

#root{
    padding: 0;
    display: flex;
    height: 100%;
}

.header{
    font-size: 40px;
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    padding: 20px 0;
}

.counter{
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
}

.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task__add{
    display: flex;
}

#text{
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #d9caca;
    width: 80%;
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px 0 0 5px;
}

.task__add>button{
    border: none;     
    background: none;
    border-bottom: 1px solid;    
    border-right: 1px solid;
    border-top: 1px solid;    
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border-color: #d9caca;
    background-color: rgba(227, 204, 16, 0.61);
    cursor: pointer;
}

.news__block{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}


.news{    
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: rgba(106, 75, 0, 0.69);
    border-radius: 20px;
    background-size: cover;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.add__news{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
}

.add__news.green{
    background-color: #77e68d;
}

.add__news.yellow{
    background-color: #ece18b;
}

.add__news.white{
    background-color: wheat;
}

.add__news.red{
    background-color: rgb(238, 123, 123);
}

.text{
    font-size: 20px;
    color: rgb(33, 33, 114);
    width: 90%;
    
}

.text, input{
    font-family: 'Bad Script', cursive;
}

.remove__task{
    border: none;
    background: none;
    background-image: url('./components/trash.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    cursor: pointer;
}